# A change to metadata.yml adds, changes or releases a version of this publication.
# It needs the approval of the Editorial Committee.
# See the GovStack Process, chapter Compiling Publications, section Releasing a version.
/metadata.yml @GovStackWorkingGroup/editorial-committee
